# TODO: berefore you run this notebook, start the PostgreSQL db service!

Load Data into PostgreSQL DB

In [1]:
import psycopg2
from sqlalchemy import create_engine
import pandas as pd

DB_HOST = "localhost"
DB_NAME = "postgres"
DB_USER = "postgres"
DB_PASSWORD = "postgres"
DB_PORT = "5401"

In [10]:
engine = create_engine(f'postgresql+psycopg2://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}')

try:
    # Connect to the db to ensure connection is working
    conn_test = psycopg2.connect(
        host=DB_HOST,
        database=DB_NAME,
        user=DB_USER,
        password=DB_PASSWORD,
        port=DB_PORT
    )
    conn_test.close()
    print("Successfully connected to PostgreSQL database!")

    # Load DataFrames
    payments_df = pd.read_csv('Payments.csv')
    clients_df = pd.read_csv('Clients.csv')

    # IMPORTANT: Convert 'transaction_date' from EPOCH to datetime BEFORE loading to DB, in order to have it as a proper timestamp
    payments_df['transaction_date'] = pd.to_datetime(payments_df['transaction_date'], unit='s')


    # Write DataFrames to PostgreSQL tables
    # if_exists: 'replace' will drop the table if it exists and recreate it
    # index=False: Do not write the DataFrame index as a column in the database table

    print("Importing Payments DataFrame to 'payments' table...")
    payments_df.to_sql('payments', engine, if_exists='replace', index=False)
    print("Payments data imported successfully!")

    print("Importing Clients DataFrame to 'clients' table...")
    clients_df.to_sql('clients', engine, if_exists='replace', index=False)
    print("Clients data imported successfully!")

except Exception as e:
    print(f"An error occurred: {e}")
finally:
    # Close the engine connection (though SQLAlchemy manages connections in a pool)
    engine.dispose()

Successfully connected to PostgreSQL database!
Importing Payments DataFrame to 'payments' table...
Payments data imported successfully!
Importing Clients DataFrame to 'clients' table...
Clients data imported successfully!

Load Data from PostgreSQL DB

In [11]:
engine = create_engine(f'postgresql+psycopg2://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}')

try:
    # Read data back from PostgreSQL into pandas DataFrames
    payments_df_from_db = pd.read_sql('SELECT * FROM payments', engine)
    clients_df_from_db = pd.read_sql('SELECT * FROM clients', engine)

    print("Data successfully loaded from PostgreSQL into DataFrames for analysis.")
    print("\nPayments DataFrame (from DB) - first 5 rows:")
    print(payments_df_from_db.head().to_markdown(index=False, numalign="left", stralign="left"))
    print("\nClients DataFrame (from DB) - first 5 rows:")
    print(clients_df_from_db.head().to_markdown(index=False, numalign="left", stralign="left"))

except Exception as e:
    print(f"Error loading data from database: {e}")
finally:
    engine.dispose()

Data successfully loaded from PostgreSQL into DataFrames for analysis.

Payments DataFrame (from DB) - first 5 rows:
| transaction_id   | contract_id   | client_id   | transaction_date    | payment_amt   | payment_code   |
|:-----------------|:--------------|:------------|:--------------------|:--------------|:---------------|
| 20175            | 927           | 1           | 2018-05-22 18:08:31 | 66.66         | PAYMENT        |
| 8485             | 927           | 1           | 2017-11-26 17:08:15 | 66.66         | PAYMENT        |
| 13778            | 927           | 1           | 2018-02-22 17:08:23 | 66.66         | PAYMENT        |
| 22768            | 927           | 1           | 2018-06-24 18:08:44 | 66.66         | PAYMENT        |
| 15698            | 927           | 1           | 2018-03-22 17:08:24 | 66.66         | PAYMENT        |

Clients DataFrame (from DB) - first 5 rows:
| client_id   | entity_type                | entity_year_established   |
|:------------|:---------------------------|:--------------------------|
| 786         | Australian Private Company | 2002                      |
| 230         | Australian Private Company | 2008                      |
| 282         | Individual/Sole Trader     | 2001                      |
| 447         | Australian Private Company | 2013                      |
| 310         | Individual/Sole Trader     | 2015                      |

Check Data is Clean

In [ ]:
total_payments = payments_df_from_db.shape[0]
total_clients = clients_df_from_db.shape[0]

# Payments DataFrame: Check and list duplicate Transaction IDs
print("\nChecking for duplicate Transaction IDs in payments data:")
num_payments_duplicates = payments_df_from_db['transaction_id'].duplicated().sum()
print(f"Number of duplicate Transaction IDs found: {num_payments_duplicates} out of {total_payments}")

if num_payments_duplicates > 0:
    # Get all rows where transaction_id is duplicated
    duplicate_payments = payments_df_from_db[payments_df_from_db['transaction_id'].duplicated(keep=False)]
    print("\nDuplicate Transaction ID rows in Payments DataFrame:")
    # Sort by transaction_id to see duplicates grouped together
    print(duplicate_payments.sort_values(by='transaction_id').to_markdown(index=False, numalign="left", stralign="left"))
else:
    print("No duplicate Transaction IDs found.")

# Clients DataFrame: Check and list duplicate Client IDs
print("\nChecking for duplicate Client IDs in clients data:")
num_clients_duplicates = clients_df_from_db['client_id'].duplicated().sum()
print(f"Number of duplicate Client IDs found: {num_clients_duplicates} out of {total_clients}")

if num_clients_duplicates > 0:
    # Get all rows where client_id is duplicated
    duplicate_clients = clients_df_from_db[clients_df_from_db['client_id'].duplicated(keep=False)]
    print("\nDuplicate Client ID rows in Clients DataFrame:")
    # Sort by client_id to see duplicates grouped together
    print(duplicate_clients.sort_values(by='client_id').to_markdown(index=False, numalign="left", stralign="left"))

    print("\n--- Payments Associated with Duplicate Client IDs ---")
    # Get the unique client_ids that are duplicated
    duplicated_client_ids = duplicate_clients['client_id'].unique()

    if len(duplicated_client_ids) > 0:
        # Filter the payments_df_from_db to find all payments for these client IDs
        payments_for_duplicate_clients = payments_df_from_db[
            payments_df_from_db['client_id'].isin(duplicated_client_ids)
        ]
        print(f"Found {len(payments_for_duplicate_clients)} out of {total_payments} payments associated with {len(duplicated_client_ids)} duplicate client(s)")
        print("\nAll Payments associated with Duplicate Client IDs:")
        # Sort by client_id and then transaction_date for better readability
        print(payments_for_duplicate_clients.sort_values(by=['client_id', 'transaction_date']).to_markdown(index=False, numalign="left", stralign="left"))
    else:
        print("No payments found for the identified duplicate client IDs (this case should ideally not happen if num_clients_duplicates > 0).")
else:
    print("No duplicate Client IDs found.")

print("\n--- Duplicate Check Complete ---")

Checking for duplicate Transaction IDs in payments data:
Number of duplicate Transaction IDs found: 0 out of 25559
No duplicate Transaction IDs found.

Checking for duplicate Client IDs in clients data:
Number of duplicate Client IDs found: 6 out of 1287

Duplicate Client ID rows in Clients DataFrame:
| client_id   | entity_type                    | entity_year_established   |
|:------------|:-------------------------------|:--------------------------|
| 165         | Individual/Sole Trader         | 2006                      |
| 165         | Australian Private Company     | 2015                      |
| 473         | Individual/Sole Trader         | 2008                      |
| 473         | Australian Private Company     | 2016                      |
| 591         | Australian Private Company     | 2013                      |
| 591         | Australian Private Company     | 2007                      |
| 591         | Australian Private Company     | 2015                      |
| 797         | Discretionary Investment Trust | 2016                      |
| 797         | Australian Private Company     | 2002                      |
| 1262        | Australian Private Company     | 2005                      |
| 1262        | Australian Private Company     | 2016                      |

--- Payments Associated with Duplicate Client IDs ---
Found 217 out of 25559 payments associated with 5 duplicate client(s)

All Payments associated with Duplicate Client IDs:
| transaction_id   | contract_id   | client_id   | transaction_date    | payment_amt   | payment_code   |
|:-----------------|:--------------|:------------|:--------------------|:--------------|:---------------|
| 1150             | 644           | 165         | 2017-07-19 18:08:28 | 16050         | PAYMENT        |
| 1151             | 644           | 165         | 2017-07-19 18:08:28 | 50            | PAYMENT        |
| 1406             | 644           | 165         | 2017-07-23 18:08:34 | 1383.33       | PAYMENT        |
| 1407             | 644           | 165         | 2017-07-23 18:08:34 | 200           | PAYMENT        |
| 3058             | 644           | 165         | 2017-08-20 18:09:12 | 1333.33       | PAYMENT        |
| 3059             | 644           | 165         | 2017-08-20 18:09:12 | 200           | PAYMENT        |
| 4738             | 644           | 165         | 2017-09-19 18:08:10 | 1333.33       | PAYMENT        |
| 4739             | 644           | 165         | 2017-09-19 18:08:10 | 200           | PAYMENT        |
| 6396             | 644           | 165         | 2017-10-19 17:08:11 | 1333.33       | PAYMENT        |
| 6397             | 644           | 165         | 2017-10-19 17:08:11 | 200           | PAYMENT        |
| 8128             | 644           | 165         | 2017-11-19 17:08:17 | 1333.33       | PAYMENT        |
| 8129             | 644           | 165         | 2017-11-19 17:08:18 | 200           | PAYMENT        |
| 9923             | 644           | 165         | 2017-12-19 17:08:18 | 1333.33       | PAYMENT        |
| 9924             | 644           | 165         | 2017-12-19 17:08:18 | 200           | PAYMENT        |
| 11806            | 644           | 165         | 2018-01-21 17:08:22 | 1333.33       | PAYMENT        |
| 11807            | 644           | 165         | 2018-01-21 17:08:22 | 200           | PAYMENT        |
| 13560            | 644           | 165         | 2018-02-19 17:08:23 | 200           | PAYMENT        |
| 13559            | 644           | 165         | 2018-02-19 17:08:23 | 1333.33       | PAYMENT        |
| 15485            | 644           | 165         | 2018-03-19 17:08:25 | 200           | PAYMENT        |
| 15484            | 644           | 165         | 2018-03-19 17:08:25 | 1333.33       | PAYMENT        |
| 17559            | 644           | 165         | 2018-04-19 18:08:27 | 1333.33       | PAYMENT        |
| 17560            | 644           | 165         | 2018-04-19 18:08:27 | 200           | PAYMENT        |
| 18088            | 1280          | 165         | 2018-04-26 18:08:30 | 20050         | PAYMENT        |
| 18089            | 1280          | 165         | 2018-04-26 18:08:30 | 50            | PAYMENT        |
| 18302            | 1280          | 165         | 2018-04-29 18:08:31 | 1716.67       | PAYMENT        |
| 18303            | 1280          | 165         | 2018-04-29 18:08:31 | 266.66        | PAYMENT        |
| 19972            | 644           | 165         | 2018-05-20 18:08:34 | 1333.33       | PAYMENT        |
| 19973            | 644           | 165         | 2018-05-20 18:08:34 | 200           | PAYMENT        |
| 20525            | 1280          | 165         | 2018-05-27 18:08:35 | 1666.67       | PAYMENT        |
| 20526            | 1280          | 165         | 2018-05-27 18:08:35 | 266.66        | PAYMENT        |
| 22463            | 644           | 165         | 2018-06-19 18:08:45 | 1333.33       | PAYMENT        |
| 22464            | 644           | 165         | 2018-06-19 18:08:45 | 200           | PAYMENT        |
| 23055            | 1280          | 165         | 2018-06-26 18:08:47 | 266.66        | PAYMENT        |
| 23054            | 1280          | 165         | 2018-06-26 18:08:47 | 1666.67       | PAYMENT        |
| 819              | 632           | 473         | 2017-07-16 18:08:20 | 50            | PAYMENT        |
| 818              | 632           | 473         | 2017-07-16 18:08:20 | 5050.04       | PAYMENT        |
| 1186             | 632           | 473         | 2017-07-19 18:08:29 | 466.67        | PAYMENT        |
| 1187             | 632           | 473         | 2017-07-19 18:08:29 | 66.66         | PAYMENT        |
| 2814             | 632           | 473         | 2017-08-16 18:09:06 | 416.67        | PAYMENT        |
| 2815             | 632           | 473         | 2017-08-16 18:09:06 | 66.66         | PAYMENT        |
| 4489             | 632           | 473         | 2017-09-17 18:08:09 | 416.67        | PAYMENT        |
| 4490             | 632           | 473         | 2017-09-17 18:08:09 | 66.66         | PAYMENT        |
| 6189             | 632           | 473         | 2017-10-16 17:08:14 | 416.67        | PAYMENT        |
| 6190             | 632           | 473         | 2017-10-16 17:08:14 | 66.66         | PAYMENT        |
| 7933             | 632           | 473         | 2017-11-16 17:08:17 | 416.67        | PAYMENT        |
| 7934             | 632           | 473         | 2017-11-16 17:08:17 | 66.66         | PAYMENT        |
| 9637             | 632           | 473         | 2017-12-17 17:08:18 | 416.67        | PAYMENT        |
| 9638             | 632           | 473         | 2017-12-17 17:08:18 | 66.66         | PAYMENT        |
| 11449            | 632           | 473         | 2018-01-16 17:08:18 | 416.67        | PAYMENT        |
| 11450            | 632           | 473         | 2018-01-16 17:08:19 | 66.66         | PAYMENT        |
| 13351            | 632           | 473         | 2018-02-18 17:08:23 | 66.66         | PAYMENT        |
| 13350            | 632           | 473         | 2018-02-18 17:08:23 | 416.67        | PAYMENT        |
| 15272            | 632           | 473         | 2018-03-18 17:08:24 | 416.67        | PAYMENT        |
| 15273            | 632           | 473         | 2018-03-18 17:08:24 | 66.66         | PAYMENT        |
| 17300            | 632           | 473         | 2018-04-16 18:08:27 | 66.66         | PAYMENT        |
| 17299            | 632           | 473         | 2018-04-16 18:08:27 | 416.67        | PAYMENT        |
| 19638            | 632           | 473         | 2018-05-16 18:08:31 | 66.66         | PAYMENT        |
| 19637            | 632           | 473         | 2018-05-16 18:08:31 | 416.67        | PAYMENT        |
| 22092            | 632           | 473         | 2018-06-17 18:08:42 | 416.67        | PAYMENT        |
| 22093            | 632           | 473         | 2018-06-17 18:08:42 | 66.66         | PAYMENT        |
| 23767            | 1569          | 473         | 2018-07-05 18:08:46 | 50            | PAYMENT        |
| 23766            | 1569          | 473         | 2018-07-05 18:08:46 | 20050         | PAYMENT        |
| 24046            | 1569          | 473         | 2018-07-08 18:09:23 | 266.66        | PAYMENT        |
| 24045            | 1569          | 473         | 2018-07-08 18:09:23 | 1716.67       | PAYMENT        |
| 966              | 40            | 591         | 2017-07-16 18:08:24 | 1416.67       | PAYMENT        |
| 967              | 40            | 591         | 2017-07-16 18:08:24 | 184.16        | PAYMENT        |
| 1234             | 650           | 591         | 2017-07-20 18:08:30 | 20050         | PAYMENT        |
| 1235             | 650           | 591         | 2017-07-20 18:08:30 | 50            | PAYMENT        |
| 1426             | 650           | 591         | 2017-07-23 18:08:34 | 1716.67       | PAYMENT        |
| 1427             | 650           | 591         | 2017-07-23 18:08:34 | 249.99        | PAYMENT        |
| 2100             | 683           | 591         | 2017-08-06 18:08:49 | 20050         | PAYMENT        |
| 2101             | 683           | 591         | 2017-08-06 18:08:49 | 50            | PAYMENT        |
| 2433             | 683           | 591         | 2017-08-09 18:08:57 | 1716.67       | PAYMENT        |
| 2434             | 683           | 591         | 2017-08-09 18:08:57 | 266.66        | PAYMENT        |
| 3078             | 650           | 591         | 2017-08-20 18:09:12 | 1666.67       | PAYMENT        |
| 3079             | 650           | 591         | 2017-08-20 18:09:12 | 249.99        | PAYMENT        |
| 3926             | 683           | 591         | 2017-09-06 18:09:33 | 1666.67       | PAYMENT        |
| 3927             | 683           | 591         | 2017-09-06 18:09:33 | 266.66        | PAYMENT        |
| 4804             | 650           | 591         | 2017-09-20 18:08:12 | 1666.67       | PAYMENT        |
| 4805             | 650           | 591         | 2017-09-20 18:08:12 | 249.99        | PAYMENT        |
| 5762             | 683           | 591         | 2017-10-08 17:08:16 | 1666.67       | PAYMENT        |
| 5763             | 683           | 591         | 2017-10-08 17:08:16 | 266.66        | PAYMENT        |
| 6542             | 650           | 591         | 2017-10-22 17:08:17 | 1666.67       | PAYMENT        |
| 6543             | 650           | 591         | 2017-10-22 17:08:17 | 249.99        | PAYMENT        |
| 7375             | 683           | 591         | 2017-11-06 17:08:16 | 1666.67       | PAYMENT        |
| 7376             | 683           | 591         | 2017-11-06 17:08:16 | 266.66        | PAYMENT        |
| 8217             | 650           | 591         | 2017-11-20 17:08:16 | 1666.67       | PAYMENT        |
| 8218             | 650           | 591         | 2017-11-20 17:08:16 | 249.99        | PAYMENT        |
| 9100             | 683           | 591         | 2017-12-06 17:08:15 | 1666.67       | PAYMENT        |
| 9101             | 683           | 591         | 2017-12-06 17:08:15 | 266.66        | PAYMENT        |
| 9999             | 650           | 591         | 2017-12-20 17:08:18 | 1666.67       | PAYMENT        |
| 10000            | 650           | 591         | 2017-12-20 17:08:18 | 249.99        | PAYMENT        |
| 10859            | 683           | 591         | 2018-01-07 17:08:22 | 1666.67       | PAYMENT        |
| 10860            | 683           | 591         | 2018-01-07 17:08:22 | 266.66        | PAYMENT        |
| 11820            | 650           | 591         | 2018-01-21 17:08:23 | 1666.67       | PAYMENT        |
| 11821            | 650           | 591         | 2018-01-21 17:08:23 | 249.99        | PAYMENT        |
| 12643            | 683           | 591         | 2018-02-06 17:08:21 | 1666.67       | PAYMENT        |
| 12644            | 683           | 591         | 2018-02-06 17:08:21 | 266.66        | PAYMENT        |
| 13614            | 1103          | 591         | 2018-02-20 17:08:23 | 50            | PAYMENT        |
| 13613            | 1103          | 591         | 2018-02-20 17:08:23 | 20050         | PAYMENT        |
| 13658            | 650           | 591         | 2018-02-20 17:08:24 | 249.99        | PAYMENT        |
| 13657            | 650           | 591         | 2018-02-20 17:08:24 | 1666.67       | PAYMENT        |
| 13944            | 1103          | 591         | 2018-02-25 17:08:25 | 266.66        | PAYMENT        |
| 13943            | 1103          | 591         | 2018-02-25 17:08:25 | 1716.67       | PAYMENT        |
| 14558            | 683           | 591         | 2018-03-06 17:08:22 | 1666.67       | PAYMENT        |
| 14559            | 683           | 591         | 2018-03-06 17:08:22 | 266.66        | PAYMENT        |
| 15584            | 1103          | 591         | 2018-03-20 17:08:25 | 1666.67       | PAYMENT        |
| 15580            | 650           | 591         | 2018-03-20 17:08:25 | 1666.67       | PAYMENT        |
| 15581            | 650           | 591         | 2018-03-20 17:08:25 | 249.99        | PAYMENT        |
| 15585            | 1103          | 591         | 2018-03-20 17:08:25 | 266.66        | PAYMENT        |
| 16688            | 683           | 591         | 2018-04-08 18:08:30 | 266.66        | PAYMENT        |
| 16687            | 683           | 591         | 2018-04-08 18:08:30 | 1666.67       | PAYMENT        |
| 17765            | 650           | 591         | 2018-04-22 18:08:35 | 1666.67       | PAYMENT        |
| 17766            | 650           | 591         | 2018-04-22 18:08:35 | 249.99        | PAYMENT        |
| 17776            | 1103          | 591         | 2018-04-22 18:08:35 | 266.66        | PAYMENT        |
| 17775            | 1103          | 591         | 2018-04-22 18:08:35 | 1666.67       | PAYMENT        |
| 18910            | 683           | 591         | 2018-05-07 18:08:33 | 266.66        | PAYMENT        |
| 18909            | 683           | 591         | 2018-05-07 18:08:33 | 1666.67       | PAYMENT        |
| 19979            | 650           | 591         | 2018-05-20 18:08:34 | 249.99        | PAYMENT        |
| 19978            | 650           | 591         | 2018-05-20 18:08:34 | 1666.67       | PAYMENT        |
| 19987            | 1103          | 591         | 2018-05-20 18:08:35 | 266.66        | PAYMENT        |
| 19986            | 1103          | 591         | 2018-05-20 18:08:35 | 1666.67       | PAYMENT        |
| 20140            | 1103          | 591         | 2018-05-22 18:08:30 | 266.66        | DEFAULT        |
| 20139            | 1103          | 591         | 2018-05-22 18:08:30 | 1666.67       | DEFAULT        |
| 20613            | 1103          | 591         | 2018-05-28 18:08:32 | 1666.67       | PAYMENT        |
| 20614            | 1103          | 591         | 2018-05-28 18:08:32 | 266.66        | PAYMENT        |
| 21265            | 683           | 591         | 2018-06-06 18:09:11 | 266.66        | PAYMENT        |
| 21264            | 683           | 591         | 2018-06-06 18:09:11 | 1666.67       | PAYMENT        |
| 22563            | 650           | 591         | 2018-06-20 18:08:46 | 1666.67       | PAYMENT        |
| 22564            | 650           | 591         | 2018-06-20 18:08:46 | 249.99        | PAYMENT        |
| 22568            | 1103          | 591         | 2018-06-20 18:08:46 | 266.66        | PAYMENT        |
| 22567            | 1103          | 591         | 2018-06-20 18:08:46 | 1666.67       | PAYMENT        |
| 24011            | 683           | 591         | 2018-07-08 18:09:22 | 1666.67       | PAYMENT        |
| 24012            | 683           | 591         | 2018-07-08 18:09:22 | 266.66        | PAYMENT        |
| 24938            | 1619          | 591         | 2018-07-18 18:09:19 | 50            | PAYMENT        |
| 24937            | 1619          | 591         | 2018-07-18 18:09:19 | 20050         | PAYMENT        |
| 25296            | 1103          | 591         | 2018-07-22 18:08:10 | 266.66        | PAYMENT        |
| 25295            | 1103          | 591         | 2018-07-22 18:08:10 | 1666.67       | PAYMENT        |
| 25320            | 1619          | 591         | 2018-07-22 18:08:11 | 249.99        | PAYMENT        |
| 25319            | 1619          | 591         | 2018-07-22 18:08:11 | 1716.67       | PAYMENT        |
| 25486            | 1103          | 591         | 2018-07-24 18:08:08 | 266.66        | DEFAULT        |
| 25485            | 1103          | 591         | 2018-07-24 18:08:08 | 1666.67       | DEFAULT        |
| 240              | 474           | 797         | 2017-07-04 18:08:07 | 34.67         | PAYMENT        |
| 239              | 474           | 797         | 2017-07-04 18:08:07 | 433.33        | PAYMENT        |
| 322              | 474           | 797         | 2017-07-06 18:08:09 | 433.33        | DEFAULT        |
| 323              | 474           | 797         | 2017-07-06 18:08:09 | 34.67         | DEFAULT        |
| 703              | 416           | 797         | 2017-07-12 18:08:18 | 251.46        | PAYMENT        |
| 704              | 416           | 797         | 2017-07-12 18:08:18 | 20.11         | PAYMENT        |
| 1129             | 474           | 797         | 2017-07-19 18:08:27 | 433.33        | PAYMENT        |
| 1130             | 474           | 797         | 2017-07-19 18:08:27 | 34.67         | PAYMENT        |
| 2536             | 416           | 797         | 2017-08-13 18:09:00 | 251.46        | PAYMENT        |
| 2537             | 416           | 797         | 2017-08-13 18:09:00 | 20.11         | PAYMENT        |
| 3093             | 474           | 797         | 2017-08-21 18:09:13 | 433.33        | PAYMENT        |
| 3094             | 474           | 797         | 2017-08-21 18:09:13 | 34.67         | PAYMENT        |
| 4257             | 416           | 797         | 2017-09-12 18:09:40 | 251.46        | PAYMENT        |
| 4258             | 416           | 797         | 2017-09-12 18:09:40 | 20.11         | PAYMENT        |
| 4374             | 474           | 797         | 2017-09-14 18:09:43 | 433.33        | PAYMENT        |
| 4375             | 474           | 797         | 2017-09-14 18:09:43 | 34.67         | PAYMENT        |
| 4601             | 474           | 797         | 2017-09-18 18:08:07 | 433.33        | DEFAULT        |
| 4602             | 474           | 797         | 2017-09-18 18:08:07 | 34.67         | DEFAULT        |
| 5604             | 474           | 797         | 2017-10-08 17:08:12 | 34.67         | PAYMENT        |
| 5605             | 474           | 797         | 2017-10-08 17:08:12 | 425.33        | PAYMENT        |
| 5971             | 416           | 797         | 2017-10-12 17:08:12 | 251.46        | PAYMENT        |
| 5972             | 416           | 797         | 2017-10-12 17:08:12 | 20.11         | PAYMENT        |
| 6842             | 474           | 797         | 2017-10-29 17:08:11 | 34.67         | PAYMENT        |
| 6841             | 474           | 797         | 2017-10-29 17:08:11 | 433.33        | PAYMENT        |
| 6840             | 474           | 797         | 2017-10-29 17:08:11 | 8             | PAYMENT        |
| 7197             | 474           | 797         | 2017-11-05 17:08:13 | 433.33        | PAYMENT        |
| 7198             | 474           | 797         | 2017-11-05 17:08:13 | 34.67         | PAYMENT        |
| 7385             | 474           | 797         | 2017-11-07 17:08:11 | 433.33        | DEFAULT        |
| 7386             | 474           | 797         | 2017-11-07 17:08:11 | 34.67         | DEFAULT        |
| 7596             | 416           | 797         | 2017-11-12 17:08:13 | 251.46        | PAYMENT        |

Since there are no duplicate transactions, to clean the data:
1. deletes all but the oldest client of clients with duplicate client ids
2. if any clients have duplicate ids and ages, delete both of them, and all the transactions associated with that client id even if those clients are the oldest of the clients with the duplicate ids

In [19]:
# --- Helper function to 'keep oldest, delete ties' ---
def clean_duplicates_by_age(df, id_col, age_col, name):
    """
    Cleans duplicates in a DataFrame: keeps the single oldest entry for each ID,
    discards all entries for an ID if there's a tie for the oldest.
    Returns the cleaned DataFrame and a list of IDs whose all entries were discarded.
    """
    # Start with unique IDs
    df_cleaned_initial = df[~df[id_col].duplicated(keep=False)].copy()
    
    # Identify IDs that have duplicates
    duplicated_ids = df[df[id_col].duplicated(keep=False)][id_col].unique()
    
    ids_fully_discarded = []
    
    if len(duplicated_ids) > 0:
        print(f"\nProcessing {len(duplicated_ids)} duplicated {name} IDs...")
        for dupe_id in duplicated_ids:
            entries = df[df[id_col] == dupe_id].copy()
            
            # Find the minimum (oldest) value for the age column
            oldest_age = entries[age_col].min()

            # Filter entries that have this oldest age
            oldest_entries = entries[entries[age_col] == oldest_age]
            
            if len(oldest_entries) == 1:
                # If there's a unique oldest entry, keep it
                df_cleaned_initial = pd.concat([df_cleaned_initial, oldest_entries], ignore_index=True)
            else:
                # If there's a tie for the oldest, discard all entries for this ID
                ids_fully_discarded.append(dupe_id)
                
        print(f"Number of {name} IDs where all tied entries were discarded: {len(ids_fully_discarded)}")
        if ids_fully_discarded:
            print(f"Discarded {name} IDs due to age ties: {ids_fully_discarded}")
    else:
        print(f"No duplicated {name} IDs to process based on age.")
            
    return df_cleaned_initial, ids_fully_discarded

In [21]:
# --- Start Custom Data Cleaning Block ---
print("\n--- Starting Custom Data Cleaning ---")

# Make copies to work with, preserving originals from previous steps
payments_temp_df = payments_df_from_db.copy()
clients_temp_df = clients_df_from_db.copy()

# Ensure 'age' columns are in appropriate formats
clients_temp_df['entity_year_established'] = pd.to_numeric(clients_temp_df['entity_year_established'], errors='coerce')
payments_temp_df['transaction_date'] = pd.to_datetime(payments_temp_df['transaction_date'])

# --- Clean Clients DataFrame based on `client_id` and `entity_year_established` ---
print("\n--- Cleaning Clients ---")
clients_cleaned_df, discarded_client_ids = clean_duplicates_by_age(
    clients_temp_df, 'client_id', 'entity_year_established', 'Client'
)
clients_initial_rows = clients_temp_df.shape[0]
clients_cleaned_rows = clients_cleaned_df.shape[0]
clients_removed_count = clients_initial_rows - clients_cleaned_rows
print(f"Total client entries removed: {clients_removed_count}")
print(f"Clients DataFrame after custom client_id cleaning: {clients_cleaned_df.shape}")


# --- Filter Payments DataFrame based on the cleaned client IDs ---
# This step ensures that all transactions belonging to clients that were completely
# removed in the previous step (due to tied oldest 'entity_year_established') are also removed.
print("\n--- Filtering Payments based on Cleaned Clients ---")
valid_client_ids = clients_cleaned_df['client_id'].unique()
payments_filtered_by_clients_df = payments_temp_df[
    payments_temp_df['client_id'].isin(valid_client_ids)
]
payments_removed_by_client_filter_count = payments_temp_df.shape[0] - payments_filtered_by_clients_df.shape[0]
print(f"Removed {payments_removed_by_client_filter_count} payment transactions associated with discarded client IDs.")
print(f"Payments DataFrame after filtering by valid clients: {payments_filtered_by_clients_df.shape}")
payments_cleaned_df = payments_filtered_by_clients_df.copy()

print("\n--- Data Cleaning Complete ---")
print(f"Original Payments rows: {total_payments} -> Final Cleaned Payments rows: {payments_cleaned_df.shape[0]}")
print(f"Original Clients rows: {total_clients} -> Final Cleaned Clients rows: {clients_cleaned_df.shape[0]}")


# Display the head of the cleaned DataFrames to confirm
print("\nCleaned Payments DataFrame - first 5 rows:")
print(payments_cleaned_df.head().to_markdown(index=False, numalign="left", stralign="left"))

print("\nCleaned Clients DataFrame - first 5 rows:")
print(clients_cleaned_df.head().to_markdown(index=False, numalign="left", stralign="left"))

# You can now proceed with your analysis using 'payments_cleaned_df' and 'clients_cleaned_df'
# For example, to merge them for further analysis:
# merged_analysis_df = pd.merge(payments_cleaned_df, clients_cleaned_df, on='client_id', how='left')

--- Starting Custom Data Cleaning ---

--- Cleaning Clients ---

Processing 5 duplicated Client IDs...
Number of Client IDs where all tied entries were discarded: 0
Total client entries removed: 6
Clients DataFrame after custom client_id cleaning: (1281, 3)

--- Filtering Payments based on Cleaned Clients ---
Removed 0 payment transactions associated with discarded client IDs.
Payments DataFrame after filtering by valid clients: (25559, 6)

--- Data Cleaning Complete ---
Original Payments rows: 25559 -> Final Cleaned Payments rows: 25559
Original Clients rows: 1287 -> Final Cleaned Clients rows: 1281

Cleaned Payments DataFrame - first 5 rows:
| transaction_id   | contract_id   | client_id   | transaction_date    | payment_amt   | payment_code   |
|:-----------------|:--------------|:------------|:--------------------|:--------------|:---------------|
| 20175            | 927           | 1           | 2018-05-22 18:08:31 | 66.66         | PAYMENT        |
| 8485             | 927           | 1           | 2017-11-26 17:08:15 | 66.66         | PAYMENT        |
| 13778            | 927           | 1           | 2018-02-22 17:08:23 | 66.66         | PAYMENT        |
| 22768            | 927           | 1           | 2018-06-24 18:08:44 | 66.66         | PAYMENT        |
| 15698            | 927           | 1           | 2018-03-22 17:08:24 | 66.66         | PAYMENT        |

Cleaned Clients DataFrame - first 5 rows:
| client_id   | entity_type                | entity_year_established   |
|:------------|:---------------------------|:--------------------------|
| 786         | Australian Private Company | 2002                      |
| 230         | Australian Private Company | 2008                      |
| 282         | Individual/Sole Trader     | 2001                      |
| 447         | Australian Private Company | 2013                      |
| 310         | Individual/Sole Trader     | 2015                      |